@font-face {
  font-family: 'alerta-stencil';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'amarante';
  src:  url(https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'anton';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'arial-rounded-mt-bold';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'average';
  src:  url('../public/assets/fonts/Average-Regular.woff') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'cantora-one';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'chela-one';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'chicle';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'cinzel-decorative';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'freshman';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'galada';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'gamja-flower';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'graduate';
  src:  url('../public/assets/fonts/Graduate-Regular.woff') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'happy-monkey';
  src:  url('../public/assets/fonts/HappyMonkey-Regular.woff') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'hello';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'holtwood-one-sc';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'lily-script-one';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'lobster';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'marko-one';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'metal-mania';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'milonga';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'mogra';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'new-rocker';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'oleo-script-swash-caps';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'open-sans';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'paprika';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'parisienne';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'pirata-one';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'playfair-display-sc';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'port-lligat-sans';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'press-start-2p';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'romanesco';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'rum-raisin';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'salsa';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'shadows-into-light';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'sofia';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'special-elite';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'ultra';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}

@font-face {
  font-family: 'unifraktur-maguntia';
  src:  url('https://fonts.googleapis.com/css2?family=Allerta+Stencil') format('truetype');
   font-display: swap;
}
